/web/bundles/
/web/files/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar

/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

*.*~
/Thumbs.db
/.idea
/.nginxrules
/.Trash-1000
/nbproject

/web/assets
/web/assetic
web/uploads/*
web/uploads
!web/uploads/.gitkeep
/web/robots.txt
/web/app_dev.php
/web/media
/web/bower
/src/**/Model/om/*
/src/**/Model/map/*
/src/**/Model/**/map/*
/src/**/Model/**/om/*
/atlassian-ide-plugin.xml
/.php55
/node_modules
/web/html/node_modules
web/deployment.html
web/js
!web/css/ckeditor.css
!web/css/bootstrap.css
!web/css/libs.css
!web/css/main.css
web/css

